<div class="container">
  <div class="form">
    <div class="form-header">
      <div class="main-title">Kaowei OLP Loging</div>
      <div class="sub-title">Hey,Enter your ID to sign in to your accout</div>
    </div>
    <div class="form-body">
      <div class="form-account form-input">
        <input type="text"/>
        <div class="account-icon"></div>
      </div>
      <div class="form-password form-input">
        <input type="text"/>
        <div class="password-icon"></div>
      </div>
      <div class="form-hint">
        Having trouble in <a href="#">sign in?</a>
      </div>
    </div>
    <div class="form-footer">
      Don't have an account?<a href="#">Contact Us Now</a>
    </div>
  </div>
</div>
